@model Listing;
@using System.Text.Json;
@{
    
    ViewData["Title"] = "User History";
    List<FrequencyItem> sortedHistory = ViewBag.info;
    // string historyJSON = JsonSerializer.Serialize(history);
}

<style>
    .buttonContainer {
        display: flex;
        padding: 2px;
    }
    .sortByAsc, .sortByDesc {
        min-width: max-content;
        padding: 5px;
        margin: 1px;
        font-size: .75rem;
        display: inline-flex;
    }
    th {
        min-width: max-content;
    }
</style>

<div>
    <form asp-controller="UserHistory" asp-action="Index" method="post">
        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" placeholder="Username" />
        <input type="submit">
    </form>
    <h2>User: <b>@ViewBag.username</b></h2>
    <h3>Most recent contributions by subreddit</h3>
    <table style="border: 1px solid; margin: 5px">
        <tr style="border: 1px solid;">
            <th style="border: 1px solid; padding: 5px">Subreddit<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Total&nbsp;Contributions<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Posts<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Comments<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Recently?</th>
            <th style="border: 1px solid; padding: 5px">Date<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Type<br />
            <div class="buttonContainer">
                <button class="sortByAsc btn btn-secondary">Sort ASC</button>
                <button class="sortByDesc btn btn-secondary">Sort DESC</button>
            </div>
            </th>
            <th style="border: 1px solid; padding: 5px">Permalink</th>
            <th style="border: 1px solid; padding: 5px"></th>
        
        @foreach(FrequencyItem item in sortedHistory) {
            int? total = item.postCount + item.commentCount;
            string fullURL = "https://www.reddit.com"+item.permalink;
            List<Listing> relevantSubs = item.getSubredditHistory();
            string fullHistoryJSON = JsonSerializer.Serialize(relevantSubs);
            <tr style="border: 1px solid;">
                <td style="border: 1px solid; padding: 5px">@item.subreddit</td>
                <td style="border: 1px solid; padding: 5px">@total</td>
                <td style="border: 1px solid; padding: 5px">@item.postCount</td>
                <td style="border: 1px solid; padding: 5px">@item.commentCount</td>
                <td style="border: 1px solid; padding: 5px">@item.recency</td>
                <td style="border: 1px solid; padding: 5px">@item.datetime</td>
                <td style="border: 1px solid; padding: 5px">@item.type</td>
                <td style="border: 1px solid; padding: 5px"><a href="@fullURL" target="_blank">@fullURL</a></td>
                <td style="border: 1px solid; padding: 5px">
                    <form asp-controller="UserHistory" asp-action="SubredditHistory" target="_blank" method="post">
                        <input type="hidden" name="list" id="list" value="@fullHistoryJSON" />
                        <input type="submit" value="Get Full History" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
