@model Listing;
@{
    List<Listing> history = ViewBag.history;
}
<h2>Full history for user <b>@history[0].data_author</b> in subreddit <b>@history[0].data_subreddit</b></h2>
<table style="border: 1px solid; margin: 5px">
    <tr style="border: 1px solid;">
        <th style="border: 1px solid; padding: 5px">Date</th>
        <th style="border: 1px solid; padding: 5px">Type</th>
        <th style="border: 1px solid; padding: 5px">Permalink</th>
    </tr>
    @foreach(Listing item in history) {
    string url = "https://www.reddit.com" + item.data_permalink;
    <tr style="border: 1px solid;">
        <td style="border: 1px solid; padding: 5px">@item.datetime</td>
        <td style="border: 1px solid; padding: 5px">@item.data_type</td>
        <td style="border: 1px solid; padding: 5px"><a href="@url" target="_blank">@url</a></td>
    </tr>
    }
</table>